{% extends 'header.html' %} {% block body %}
<div class="ui container">
    <div class="ui two stackable cards">

        <div class="ui link rose-gradient card" data-id="0" href="javascript:void(0)">
            <div class="content main-content">
                <div class="ui active inverted dimmer">
                    <div class="ui medium loader main-loader"></div>
                    <div class="ui medium text loader ghost hidden cover-buttons">
                        <button class="ui secondary basic button retry-button">重试</button>
                        <a class="link-button">
                            <button class="ui secondary basic button">需要完善信息</button>
                        </a>
                    </div>
                </div>
                <div class="ghost header main-header">
                    <span class="item">校园卡余额</span>
                    <span class="right floated number-display">
                        <span class="value">0.00 </span>
                        <span class="unit">元</span>
                    </span>
                </div>
            </div>
            <div class="ghost extra main-extra">
                查看详情
            </div>
        </div>

        <div class="ui link orange-gradient card" data-id="1" href="javascript:void(0)">
            <div class="content main-content">
                <div class="ui active inverted dimmer">
                    <div class="ui medium loader main-loader"></div>
                    <div class="ui medium text loader ghost hidden cover-buttons">
                        <button class="ui secondary basic button retry-button">重试</button>
                        <a class="link-button">
                            <button class="ui secondary basic button">需要完善信息</button>
                        </a>
                    </div>
                </div>
                <div class="ghost header main-header">
                    <span class="item">宿舍电量</span>
                    <span class="right floated number-display">
                        <span class="value">0.00 </span>
                        <span class="unit">度</span>
                    </span>
                </div>
            </div>
            <div class="ghost extra main-extra">
                查看详情
            </div>
        </div>

        <div class="ui link green-gradient card" data-id="2" href="javascript:void(0)" onclick="window.location.href='http://sdut.dogest.cn/grade/index.html?id={{ request.user.username }}'">
            <div class="content main-content">
                <div class="ghost header main-header" style="opacity: 1;">
                    <span class="item">绩点</span>
                    <span class="right floated number-display">
                        <span class="value"></span>
                        <span class="unit"></span>
                    </span>
                </div>
            </div>
            <div class="ghost extra main-extra" style="opacity: 1;">
                查看详情
            </div>
        </div>

        <div class="ui link blue-gradient card" data-id="3" href="javascript:void(0)">
            <div class="content main-content">
                <div class="ghost header main-header" style="opacity: 1;">
                    <span class="item">图书借阅</span>
                    <span class="right floated number-display">
                        <span class="value"></span>
                        <span class="unit"></span>
                    </span>
                </div>
            </div>
            <div class="ghost extra main-extra" style="opacity: 1;">
                查看详情
            </div>
        </div>

        <div class="ui link purple-gradient card" data-id="4" href="javascript:void(0)">
            <div class="content main-content">
                <div class="ghost header main-header" style="opacity: 1;">
                    <span class="item">图书借阅历史</span>
                    <span class="right floated number-display">
                        <span class="value"></span>
                        <span class="unit"></span>
                    </span>
                </div>
            </div>
            <div class="ghost extra main-extra" style="opacity: 1;">
                查看详情
            </div>
        </div>

        <div class="ui link dblue-gradient card" data-id="5" href="javascript:void(0)">
            <div class="content main-content">
                <div class="ghost header main-header" style="opacity: 1;">
                    <span class="item">宿舍卫生</span>
                    <span class="right floated number-display">
                        <span class="value"></span>
                        <span class="unit"></span>
                    </span>
                </div>
            </div>
            <div class="ghost extra main-extra" style="opacity: 1;">
                查看详情
            </div>
        </div>

        <div class="ui link ddblue-gradient card" data-id="6" href="javascript:void(0)">
            <div class="content main-content">
                <div class="ghost header main-header" style="opacity: 1;">
                    <span class="item">校园卡交易汇总</span>
                    <span class="right floated number-display">
                        <span class="value"></span>
                        <span class="unit"></span>
                    </span>
                </div>
            </div>
            <div class="ghost extra main-extra" style="opacity: 1;">
                查看详情
            </div>
        </div>

        <!--
        <div class="ui link red-gradient card" data-id="7" href="javascript:void(0)">
            <div class="content main-content">
                <div class="ghost header main-header" style="opacity: 1;">
                    <span class="item">课程表</span>
                    <span class="right floated number-display">
                        <span class="value"></span>
                        <span class="unit"></span>
                    </span>
                </div>
            </div>
            <div class="ghost extra main-extra" style="opacity: 1;">
                查看详情
            </div>
        </div>

        <div class="ui link brown-gradient card" data-id="8" href="javascript:void(0)">
            <div class="content main-content">
                <div class="ghost header main-header" style="opacity: 1;">
                    <span class="item">作业通知</span>
                    <span class="right floated number-display">
                        <span class="value"></span>
                        <span class="unit"></span>
                    </span>
                </div>
            </div>
            <div class="ghost extra main-extra" style="opacity: 1;">
                查看详情
            </div>
        </div>
    -->
    <!--
        <div class="ui link black-gradient card" data-id="9" href="javascript:void(0)">
            <div class="content main-content">
                <div class="ghost header main-header" style="opacity: 1;">
                    <span class="item">成绩查询</span>
                    <span class="right floated number-display">
                        <span class="value"></span>
                        <span class="unit"></span>
                    </span>
                </div>
            </div>
            <div class="ghost extra main-extra" style="opacity: 1;">
                查看详情
            </div>
        </div>
    -->
    </div>
</div>

<!--Modals-->
<div class="ui tiny basic rose-gradient detail modal" data-id="0">
    <div class="ui active inverted dimmer">
        <div class="ui medium loader main-loader"></div>
        <div class="ui medium text loader ghost hidden cover-buttons">
            <button class="ui secondary basic button retry-button">重试</button>
        </div>
    </div>
    <i class="ghost close icon"></i>
    <div class="ghost header">校园卡近期消费记录</div>

    <div class="ghost content">
        <div class="no-data-text hidden">
            <h4 class="text-center">没有查询到信息</h4>
        </div>
        <table class="ui inverted unstackable table">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="ghost actions">
        <div class="ui basic cancel inverted button">
            关闭
        </div>
    </div>
</div>
<div class="ui tiny basic orange-gradient detail modal" data-id="1">
    <div class="ui active inverted dimmer">
        <div class="ui medium loader main-loader"></div>
        <div class="ui medium text loader ghost hidden cover-buttons">
            <button class="ui secondary basic button retry-button">重试</button>
        </div>
    </div>
    <div class="ghost header">宿舍电量详情</div>
    <i class="ghost close icon"></i>
    <div class="ghost content">
        <div class="no-data-text hidden">
            <h4 class="text-center">没有查询到信息</h4>
        </div>
        <table class="ui inverted unstackable table">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="ghost actions">
        <div class="ui basic cancel inverted button">
            关闭
        </div>
    </div>
</div>
<div class="ui tiny basic blue-gradient detail modal" data-id="3">
    <div class="ui active inverted dimmer">
        <div class="ui medium loader main-loader"></div>
        <div class="ui medium text loader ghost hidden cover-buttons">
            <button class="ui secondary basic button retry-button">重试</button>
        </div>
    </div>
    <div class="ghost header">图书借阅详情</div>
    <i class="ghost close icon"></i>
    <div class="ghost content">
        <div class="no-data-text hidden">
            <h4 class="text-center">没有查询到信息</h4>
        </div>
        <table class="ui inverted unstackable table">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="ghost actions">
        <div class="ui basic cancel inverted button">
            关闭
        </div>
    </div>
</div>
<div class="ui tiny basic purple-gradient detail modal" data-id="4">
    <div class="ui active inverted dimmer">
        <div class="ui medium loader main-loader"></div>
        <div class="ui medium text loader ghost hidden cover-buttons">
            <button class="ui secondary basic button retry-button">重试</button>
        </div>
    </div>
    <div class="ghost header">图书借阅历史</div>
    <i class="ghost close icon"></i>
    <div class="ghost content">
        <div class="no-data-text hidden">
            <h4 class="text-center">没有查询到信息</h4>
        </div>
        <table class="ui inverted unstackable table">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="ghost actions">
        <div class="ui basic cancel inverted button">
            关闭
        </div>
    </div>
</div>
<div class="ui tiny basic dblue-gradient detail modal" data-id="5">
    <div class="ui active inverted dimmer">
        <div class="ui medium loader main-loader"></div>
        <div class="ui medium text loader ghost hidden cover-buttons">
            <button class="ui secondary basic button retry-button">重试</button>
        </div>
    </div>
    <div class="ghost header">宿舍卫生分数</div>
    <i class="ghost close icon"></i>
    <div class="ghost content">
        <div class="no-data-text hidden">
            <h4 class="text-center">没有查询到信息</h4>
        </div>
        <table class="ui inverted unstackable table">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="ghost actions">
        <div class="ui basic cancel inverted button">
            关闭
        </div>
    </div>
</div>
<div class="ui tiny basic ddblue-gradient detail modal" data-id="6">
    <div class="ui active inverted dimmer">
        <div class="ui medium loader main-loader"></div>
        <div class="ui medium text loader ghost hidden cover-buttons">
            <button class="ui secondary basic button retry-button">重试</button>
        </div>
    </div>
    <div class="ghost header">交易汇总</div>
    <i class="ghost close icon"></i>
    <div class="ghost content">
        <div class="no-data-text hidden">
            <h4 class="text-center">没有查询到信息</h4>
        </div>
        <table class="ui inverted unstackable table">
            <div class="ui four buttons">
                <button class="ui button" onclick="reloadCustStateInfo(6, 7)">7</button>
                <button class="ui button" onclick="reloadCustStateInfo(6, 30)">30</button>
                <button class="ui button" onclick="reloadCustStateInfo(6, 365)">365</button>
                <button class="ui button" onclick="reloadCustStateInfo(6, 1461)">1461</button>
            </div>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="ghost actions">
        <div class="ui basic cancel inverted button">
            关闭
        </div>
    </div>
</div>
<div class="ui tiny basic red-gradient detail modal" data-id="7">
    <div class="ui active inverted dimmer">
        <div class="ui medium loader main-loader"></div>
        <div class="ui medium text loader ghost hidden cover-buttons">
            <button class="ui secondary basic button retry-button">重试</button>
        </div>
    </div>
    <div class="ghost header">课程表</div>
    <i class="ghost close icon"></i>
    <div class="ghost content">
        <div class="no-data-text hidden">
            <h4 class="text-center">没有查询到信息</h4>
        </div>
        <table class="ui inverted unstackable table">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="ghost actions">
        <div class="ui basic cancel inverted button">
            关闭
        </div>
    </div>
</div>
<div class="ui tiny basic brown-gradient detail modal" data-id="8">
    <div class="ui active inverted dimmer">
        <div class="ui medium loader main-loader"></div>
        <div class="ui medium text loader ghost hidden cover-buttons">
            <button class="ui secondary basic button retry-button">重试</button>
        </div>
    </div>
    <div class="ghost header">作业通知</div>
    <i class="ghost close icon"></i>
    <div class="ghost content">
        <div class="no-data-text hidden">
            <h4 class="text-center">没有查询到信息</h4>
        </div>
        <table class="ui inverted unstackable table">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="ghost actions">
        <div class="ui basic cancel inverted button">
            关闭
        </div>
    </div>
</div>
<div class="ui tiny basic black-gradient detail modal" data-id="9">
    <div class="ui active inverted dimmer">
        <div class="ui medium loader main-loader"></div>
        <div class="ui medium text loader ghost hidden cover-buttons">
            <button class="ui secondary basic button retry-button">重试</button>
        </div>
    </div>
    <div class="ghost header">成绩查询</div>
    <i class="ghost close icon"></i>
    <div class="ghost content">
        <div class="no-data-text hidden">
            <h4 class="text-center">没有查询到信息</h4>
        </div>
        <table class="ui inverted unstackable table">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="ghost actions">
        <div class="ui basic cancel inverted button">
            关闭
        </div>
    </div>
</div>

<script>
    var dataCardClass = [
        '.rose-gradient.card',
        '.orange-gradient.card',
        '.green-gradient.card',
        '.blue-gradient.card',
        '.purple-gradient.card',
        '.dblue-gradient.card',
        '.ddblue-gradient.card',
        '.red-gradient.card',
        '.brown-gradient.card',
        '.black-gradient.card',
    ];

    var dataModalClass = [
        '.rose-gradient.modal',
        '.orange-gradient.modal',
        '.green-gradient.modal',
        '.blue-gradient.modal',
        '.purple-gradient.modal',
        '.dblue-gradient.modal',
        '.ddblue-gradient.modal',
        '.red-gradient.modal',
        '.brown-gradient.modal',
        '.black-gradient.modal',
    ];

    var dataCardUrl = [
        '/api/card/balance/',
        '/api/energy/',
    ];

    var dataModalUrl = [
        '/api/card/info/',
        '/api/energy/info/',
        'http://sdut.dogest.cn/grade/index.html',
        '/api/borrow/info/',
        '/api/borrow/history/',
        '/api/dorm_health/',
        '/api/cust_state_info/',
        '/api/schedule/',
        '/api/reminder/',
        '/api/grade/',
    ];

    var dataModalInitialized = [
        false,
        false,
        true,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
    ];

    itemSize = dataCardClass.length;
    for (var i = 0; i < itemSize; ++i) {
        loadCardData(i);
    }

    $('.detail').modal({
        blurring: true
    }).modal('setting', 'transition', 'fade up');
</script> {% endblock %}